@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    font-family: Amatic SC, sans-serif;
    font-size: 200%;
}

h1 {
    margin: auto;
    background: black;
    color: white;
    text-align: center;
    font-family: Amatic SC, sans-serif;
    font-size: 115%;

}

h2 {
    margin: auto;
    background: black;
    text-align: center;
    color: white;
    font-family: Amatic SC, sans-serif;
    font-size: 80%;
}

#selection-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin: 20px 50px;
    background: rgb(10, 10, 10, .7);

}

#scoringboard{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   


@media (min-width: 640px) {
    #selection-area {
    flex-direction: row;
}}