h1 {
    margin: auto;
    background: cornflowerblue;
    text-align: center;
    
}

h2{
    margin: auto;
    background: black;
    text-align: center;
    color: white; 
}

#selection-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.container {
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
    background: rgb(10, 10, 10, .7);

}

